.welcomepage {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  
  .pagebackground {
    width: 390px;
    height: 580px;
    color: #fff;
    padding: 25px 30px;
    background-image: url("../../container/wellcomepage/img/backgroun.svg");
    background-repeat: no-repeat;
    border-radius: 24px;
  
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
  }
  .kerfin {
    position: absolute;
    top: 10px;
    right: 0px;
  }
  
  .wellcome-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  max-width: 100%;
    padding: 20px;
    gap: 20px;
    z-index: 1;
  }
  
  // .indikator {
  //   width: 150px;
  //   position: absolute;
  //   bottom: 5px;
  //   left: calc(100% / 2 - 150px / 2);
  //   border-radius: 5px;
  // }
  /* .click {
    cursor: pointer;
  } */