.form__item{
  position: relative;
  
}
  
.input {
  border: 1px solid #e9e8eb;
  border-radius: 12px;
  padding: 16px 20px;
  background-color: #fff;
  font-size: 14px;

  color: #000;

  transition: border-color 0.3s;

  &--error{
    border: 1px solid red;
  }

  &--error:focus{
    border: 1px solid red;
  }
}
  
  .label {
    font-size: 14px;
    color: #000;
  
    &--error{
      color: red;
    }
  }
  
  input::placeholder {
    color: #908e91;
  }
  /* input:focus {
    border-color: #775ce5;
  } */
  
  
  input:focus {
    border-color: #775ce5;
  }
  
  .icon {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 34px;
    right: 16px;
  }