.amount {
    font-size: 38px;
    font-weight: 600;
    align-self: center;
    margin-bottom: 32px;

    &__minus{
        color: #1d1d1f;

    }

    &__plus{
        color: #24b277
    }
  }

  .t-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #fff;
    padding: 16px;
    border-radius: 12px;

    &__item {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #1d1d1f;
      }

      &__divider {
        border-bottom: 1px solid #e9e8eb;
      }


}